$cNegro:rgb(19, 19, 19);
$cBlaco:rgba(255, 255, 255, 0.94);
$cGris:rgba(243, 239, 239, 0.911);
$crojo:rgb(253, 40, 2);
body{
    background-color: $cNegro;
}

.titulo{
    margin: 15px;
    color: $crojo;
    font-size:xx-large;
    text-align:center;  
    animation: latir 1.5s;
    animation-iteration-count:infinite ;

}
 h2{
    margin: 50px;
    text-align:center;
    color: $cGris;
    font-size:xx-large;
    animation: salto 1.5s;
    animation-iteration-count:infinite ;
}

h4{
    direction: ltr; 
    text-align: left;
    color:$cGris;
}


@keyframes salto{
    0%{
        transform:  translate(1px,-1px) ;
    }
    25%{
        transform:  translate(1px,-10px) ;
    }
    50%{
        transform:  translate(1px,-20px) ;
    }
    75%{
        transform:  translate(1px,-10px) ;
    }
    100%{
        transform:  translate(1px,-1px) ;
    }

}

@keyframes latir{
    0%{
        transform:  scale(1) ;
    }
    25%{
        transform:  scale(1.05) ;
    }
    50%{
        transform:   scale(1.1) ;
    }
    75%{
        transform:  scale(1.05) ;
    }
    100%{
        transform:scale(1) ;
    }
    
}

.navbar{
    background-color:$cNegro;
}

.card{
    background-color:$cGris;
}


.cardshop{
    background-color: $cBlaco;  
    border-radius: 1%;
}

.titulocompra{
    text-align:center;
    color:$cGris;
    margin:50px;
} 

.carrito{
    justify-content:space-between;
    align-items: center;
    display:flex;
    color:$cBlaco;
    font-size:xx-large;
    text-align: left;
}

.list-group-item{
    display: flex;
    justify-content:space-between;
    text-align: left;
    font-size:medium;
    direction: ltr;
}

.input-group{
    direction: ltr; 
    text-align: left;
}

label{
    direction: ltr; 
    text-align: left;
    color:$cGris;
}


.singin{
    align-items: center;
    text-align:center;
    position: relative;
    top: 250px;
    color:$cBlaco;
}

.w-80{
    margin: 15px;
}
